.Form{
    margin: auto;
    height: 550px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0 10px 50px  #555;
}
.Form a{
    text-decoration: none;
}
.Form input{
    box-sizing: border-box;
    margin: auto;
    display: block;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    font-size: inherit;
}
.Form label{
    padding: 20px;
    font-size: 25px;

}
@media (min-width:600px){
    .Form{
        width: 500px;
    }
}