.Button{
    background: none;
    border: none;
    font-size: inherit;
    background-color: white;
}
.valid{
    color: lightgreen;
}
.valid:hover{
    color: green;
    font-weight: 700;
}
.invalid{
    color: salmon;
}
.invalid:hover{
    color: red;
    font-weight: 700;
}