.InputElementContainer{
    box-sizing: border-box;
    border: 1px solid #404040;
    margin: auto;
    display: block;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 5px;
    outline: none;
}
.textareacontainer{
    height: 65%;
    font-size: large;
    width: 85%;
    display: flex;
    justify-content: center;
}
.textarea{
    height: 90%;
    width: 90%;
    outline: none;
    border: none;
}
.InputElement{
    border: none;
    width: 85%;
}
.InputElementContainer:focus{
    background-color: #ccc;
}
.valid {
    border: 1px solid green;
}
.valid:focus {
    background-color: lightgreen;
}
.invalid {
    border: 1px solid red;
}
.invalid:focus {
    background-color: salmon;
}
